html body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.background-image-container {
	position: absolute;
	bottom: 0;
	top: 185px;
	left: 0;
	right: 0;
	z-index: -1;
}

.background-image {
	background: 
		linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
		url('https://arts.uottawa.ca/sites/arts.uottawa.ca/files/arts_splash_summer2014.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	filter: blur(3px);
	min-height: 100%;
}

.wrapper {
	padding-bottom: 15px;
}

.site-header {
	background-color: #8F001A;
	height: 50px;
}

.links {
	height: 100px;
	background-color: #2D2D2D;
}

.menu {
	height: 33px;
	background-color: #DEDEDD;
}

.main-header {
	margin-top: 10px;
	font-size: 7rem;
	font-weight: 500;
	text-align: center;
}

.secondary-header {
	font-size: 3rem;
	font-weight: 500;
	text-align: center;
}